<body>
    <h1>Template Form</h1>
    

<form (ngSubmit)="OnSubmitForm()" #registretion="ngForm" class="form-cls">
  <h2>User Registration</h2>

  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder="Enter your username"
    ngModel
    required
    #fname="ngModel"
  />

  <small 
  *ngIf="fname.invalid&&fname.touched"
  > 
    Enter Username 

  </small>

  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Enter your email"
    ngModel
    required
    email

    #email="ngModel"
  />

  <small 
  *ngIf="email.invalid&&email.touched"
  > 
    Enter Email

  </small>

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Enter your password"
    required
    ngModel
    required
    #pass="ngModel"
  />

  <small 
  *ngIf="pass.invalid&&pass.touched"
  > 
    Enter the password 

  </small>
  <input
    type="submit"
    name=""
    id=""
    value="submit"
    [disabled]="!registretion.valid"
    

  />
</form>

</body>