<body>
  

<h1>reactive form</h1>

<form [formGroup]="FMbuilder" (ngSubmit)="submitForm()" class="form-cls">
  <h2>User Registration</h2>

  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder="Enter your username"
    formControlName="username"
  />

  <!-- Here FMbuilder is can accesss username form control -->
  <small
    *ngIf="
      FMbuilder.get('username')?.invalid && 
      FMbuilder.get('username')?.touched"
  >
    Username must be added in the form
  </small>

  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Enter your email"
    formControlName="email"
  />

  <small
    *ngIf="
      FMbuilder.get('email')?.invalid && 
      FMbuilder.get('email')?.touched"
  >
    email must be added in the form
  </small>

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Enter your password"
    formControlName="password"
  />

  <small
  *ngIf="
    FMbuilder.get('password')?.invalid && 
    FMbuilder.get('password')?.touched"
  >
  password must be added in the form
  </small>

  <button type="submit" value="submit"[disabled]="!FMbuilder.valid">Register</button>
</form>

</body>